@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  :root {
    --color-bg: #F9FAFB; 
    --color-primary: #3B82F6;
    --color-secondary: #1F2937;
    --color-ascent1: #FACC15;
    --color-lightgrey: #1F2937;
    --color-sidebar:#1F2937;
    --color-gray: #9CA3AF;
    --bg-purple: #A855F7;
    --bg-yellow: #FCD34D;
   --bg-green: #86EFAC;
  }
  /* //15 23 42  21 30 49*/
  [data-theme="dark"] {
    --color-bg: #050404;
    --color-sidebar:#0a0a0a;
    --color-primary: #60A5FA;
    --color-secondary: #F1F5F9;
    --color-abstract: #a1a2a3;
    --color-gray: #9CA3AF;
     --color-lightgrey: #1F2937;
    --color-ascent1: #FBBF24;
    --bg-purple: #A855F7;
  --bg-yellow: #FCD34D;
 --bg-green: #86EFAC;
   
  }
}

.members-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.member-card {
  cursor: pointer;
  border: 2px solid transparent;
  padding: 0.5rem;
  text-align: center;
  transition: border-color 0.3s ease;
}

.member-card:hover {
  border-color: #007bff; /* Highlight border on hover */
}

.member-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.selected-members {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.member-photo-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
